server {
    listen 8000;
    server_name _;

    root /usr/share/nginx/html;
    index index.html;

    # Reverse proxy hacia el backend (otra EC2, IP privada).
    # ${BACKEND_HOST} es una variable de entorno que pasamos al
    # 'docker run' en el deploy (-e BACKEND_HOST=...).
    location /api/estadisticas {
        proxy_pass         http://${ESTADISTICAS_HOST}:3002;
        proxy_http_version 1.1;
        proxy_set_header   Host              $host;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
        proxy_set_header   Authoirzation     $http_authorization;
    }

    location /api/bonos {
        proxy_pass         http://${BONOS_HOST}:3001;
        proxy_http_version 1.1;
        proxy_set_header   Host              $host;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
        proxy_set_header   Authoirzation     $http_authorization;

    }
    location /api/apuestas {
        proxy_pass         http://${APUESTAS_HOST}:3003;
        proxy_http_version 1.1;
        proxy_set_header   Host              $host;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
        proxy_set_header   Authoirzation     $http_authorization;

    }

    location /api/ {
        proxy_pass         http://${BACKEND_HOST}:3000;
        proxy_http_version 1.1;
        proxy_set_header   Host              $host;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
        proxy_set_header   Authorization     $http_authorization;
    }


    # Single Page App: cualquier ruta no encontrada → index.html
    # (necesario para que /lobby, /slots, /blackjack funcionen al
    # recargar la pagina).
    location / {
        try_files $uri $uri/ /index.html;
    }
}
